/* wwwroot/css/custom.css */
* {
    -webkit-font-smoothing: antialiased !important;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee {
    display: flex;
    width: 100%;
    animation: marquee 50s linear infinite;
}