<div class="mx-auto max-w-7xl md:my-40 my-20 px-8">
    <div class="flex flex-col lg:flex-row">
        <div class="basis-4/12 mr-0 lg:mr-auto">

            <div class="flex flex-col gap-4 mb-6 mt-5">
                <div class="text-3xl font-semibold leading-tight text-slate-900 max-w-[16rem]">Frequently Asked Questions</div>
                <div class="text-lg text-slate-600">Discover the Powerful Features That Make iPOS the Ultimate SaaS Solution for Scaling Your Business</div>
            </div>

        </div>

        <div class="lg:basis-7/12 basis-full relative">

            <div class="mx-auto">
                <div class="border-b border-gray-200">
                  <div class="py-4 cursor-pointer" data-accordion-target="#accordion-1">
                    <div class="flex cursor-pointer items-center justify-between">
                      <h4 class="text-lg font-semibold text-slate-900">What is iPOS by Walure?</h4>
                      <span class="accordion-icon text-2xl transition-transform duration-500">+</span> 
                    </div>
                  </div>
                  <div id="accordion-1" class="hidden pb-4">
                    <div class="">
                      <p class="mb-2 text-slate-600 text-sm">Browse and select from your complete list of available products, ensuring you have access to your entire stock.</p>
                    </div>
                  </div>
                </div>
              
                <div class="border-b border-gray-200">
                  <div class="py-4 cursor-pointer" data-accordion-target="#accordion-2">
                    <div class="flex cursor-pointer items-center justify-between">
                      <h4 class="text-lg font-semibold text-slate-900">Who is iPOS by Walure designed for?</h4>
                      <span class="accordion-icon text-2xl transition-transform duration-500">+</span>
                    </div>
                  </div>
                  <div id="accordion-2" class="hidden pb-4">
                    <div class="">
                      <p class="mb-2 text-slate-600 text-sm">Browse and select from your complete list of available products, ensuring you have access to your entire stock.</p>
                    </div>
                  </div>
                </div>

                <div class="border-b border-gray-200">
                    <div class="py-4 cursor-pointer" data-accordion-target="#accordion-3">
                      <div class="flex cursor-pointer items-center justify-between">
                        <h4 class="text-lg font-semibold text-slate-900"> Is iPOS by Walure suitable for small businesses?</h4>
                        <span class="accordion-icon text-2xl transition-transform duration-500">+</span>
                      </div>
                    </div>
                    <div id="accordion-3" class="hidden pb-4">
                      <div class="">
                        <p class="mb-2 text-slate-600 text-sm">Browse and select from your complete list of available products, ensuring you have access to your entire stock.</p>
                      </div>
                    </div>
                  </div>

                  <div class="border-b border-gray-200">
                    <div class="py-4 cursor-pointer" data-accordion-target="#accordion-4">
                      <div class="flex cursor-pointer items-center justify-between">
                        <h4 class="text-lg font-semibold text-slate-900">What features does the Point of Sale (POS) system include?</h4>
                        <span class="accordion-icon text-2xl transition-transform duration-500">+</span>
                      </div>
                    </div>
                    <div id="accordion-4" class="hidden pb-4">
                      <div class="">
                        <p class="mb-2 text-slate-600 text-sm">Browse and select from your complete list of available products, ensuring you have access to your entire stock.</p>
                      </div>
                    </div>
                  </div>

                  <div class="border-b border-gray-200">
                    <div class="py-4 cursor-pointer" data-accordion-target="#accordion-5">
                      <div class="flex cursor-pointer items-center justify-between">
                        <h4 class="text-lg font-semibold text-slate-900">How does the Sales Analytics feature help my business?</h4>
                        <span class="accordion-icon text-2xl transition-transform duration-500">+</span>
                      </div>
                    </div>
                    <div id="accordion-5" class="hidden pb-4">
                      <div class="">
                        <p class="mb-2 text-slate-600 text-sm">Browse and select from your complete list of available products, ensuring you have access to your entire stock.</p>
                      </div>
                    </div>
                  </div>

                  <div class="border-b border-gray-200">
                    <div class="py-4 cursor-pointer" data-accordion-target="#accordion-6">
                      <div class="flex cursor-pointer items-center justify-between">
                        <h4 class="text-lg font-semibold text-slate-900">What can I do with the Inventory Management feature?</h4>
                        <span class="accordion-icon text-2xl transition-transform duration-500">+</span>
                      </div>
                    </div>
                    <div id="accordion-6" class="hidden pb-4">
                      <div class="">
                        <p class="mb-2 text-slate-600 text-sm">Browse and select from your complete list of available products, ensuring you have access to your entire stock.</p>
                      </div>
                    </div>
                  </div>

                  <div class="border-b border-gray-200">
                    <div class="py-4 cursor-pointer" data-accordion-target="#accordion-7">
                      <div class="flex cursor-pointer items-center justify-between">
                        <h4 class="text-lg font-semibold text-slate-900">How does the Customer Relationship Management (CRM) feature benefit my business?</h4>
                        <span class="accordion-icon text-2xl transition-transform duration-500">+</span>
                      </div>
                    </div>
                    <div id="accordion-7" class="hidden pb-4">
                      <div class="">
                        <p class="mb-2 text-slate-600 text-sm">Browse and select from your complete list of available products, ensuring you have access to your entire stock.</p>
                      </div>
                    </div>
                  </div>

                  <div class="border-b border-gray-200">
                    <div class="py-4 cursor-pointer" data-accordion-target="#accordion-8">
                      <div class="flex cursor-pointer items-center justify-between">
                        <h4 class="text-lg font-semibold text-slate-900"> Is iPOS by Walure cloud-based or on-premise?</h4>
                        <span class="accordion-icon text-2xl transition-transform duration-500">+</span>
                      </div>
                    </div>
                    <div id="accordion-8" class="hidden pb-4">
                      <div class="">
                        <p class="mb-2 text-slate-600 text-sm">Browse and select from your complete list of available products, ensuring you have access to your entire stock.</p>
                      </div>
                    </div>
                  </div>

                  <div class="border-b border-gray-200">
                    <div class="py-4 cursor-pointer" data-accordion-target="#accordion-9">
                      <div class="flex cursor-pointer items-center justify-between">
                        <h4 class="text-lg font-semibold text-slate-900">Can iPOS by Walure integrate with other software?</h4>
                        <span class="accordion-icon text-2xl transition-transform duration-500">+</span>
                      </div>
                    </div>
                    <div id="accordion-9" class="hidden pb-4">
                      <div class="">
                        <p class="mb-2 text-slate-600 text-sm">Browse and select from your complete list of available products, ensuring you have access to your entire stock.</p>
                      </div>
                    </div>
                  </div>

                  <div class="border-b border-gray-200">
                    <div class="py-4 cursor-pointer" data-accordion-target="#accordion-10">
                      <div class="flex cursor-pointer items-center justify-between">
                        <h4 class="text-lg font-semibold text-slate-900">How secure is my data with iPOS by Walure?</h4>
                        <span class="accordion-icon text-2xl transition-transform duration-500">+</span>
                      </div>
                    </div>
                    <div id="accordion-10" class="hidden pb-4">
                      <div class="">
                        <p class="mb-2 text-slate-600 text-sm">Browse and select from your complete list of available products, ensuring you have access to your entire stock.</p>
                      </div>
                    </div>
                  </div>
              </div>
            
        </div>
    </div>
</div>