<footer class="bg-slate-950 py-20 pb-6">
    <div class="mx-auto max-w-7xl px-8">
        <div class="flex lg:flex-row flex-col border-b border-gray-500/50 pb-12">
            <div class="lg:basis-4/12 mr-auto mb-8 text">
                <h1 class="text-white text-4xl font-bold">Ready to grow your business digitally?</h1>
            </div>
            <div class="lg:basis-4/12">
                <a href="#" class="inline-block bg-[#298DBE] text-white px-12 py-4 rounded-full text-center lg:float-end">Get Started for Free</a>
            </div>
        </div>

        <div class="flex lg:flex-row flex-col border-b border-gray-500/50 pt-12 pb-10">
            <div class="basis-3/12 mb-8 mr-auto">
                <a href="index.html">
                    <img src="./images/iPOS-footer-Logo.svg" class="mb-4 h-10" />
                </a>
                <h1 class="text-slate-200 text-lg">Boost Your Retail Business with Innovative Solutions.</h1>
                <div class="flex mt-4">
                    <ul class="flex space-x-4">
                        <li>
                            <a href="/" target="_blank" class="">
                                <img src="./images/icons/footer-fb.svg" class="size-12"/>
                            </a>
                        </li>
                        <li>
                            <a href="/" target="_blank" class="">
                                <img src="./images/icons/footer-x.svg" class="size-12"/>
                            </a>
                        </li>
                        <li>
                            <a href="/" target="_blank" class="">
                                <img src="./images/icons/footer-li.svg" class="size-12"/>
                            </a>
                        </li>
                        <li>
                            <a href="/" target="_blank" class="">
                                <img src="./images/icons/footer-tk.svg" class="size-12"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="basis-7/12">
                <div class="grid lg:grid-cols-3 grid-cols-2 gap-y-12">
                    <div class="">
                        <header class="text-white mb-4 font-semibold">Features</header>
                        <ul class="*:text-slate-400 *:text-lg *:mb-2">
                            <li>
                                <a href="point-of-sales.html" class="p-1 pl-0">POS</a>
                            </li>
                            <li>
                                <a href="inventory.html" class="p-1 pl-0">Inventory</a>
                            </li>
                            <li>
                                <a href="sales-analytics.html" class="p-1 pl-0">Sales</a>
                            </li>
                            <li>
                                <a href="crm.html" class="p-1 pl-0">CRM</a>
                            </li>
                        </ul>
                    </div>

                    <div class="">
                        <header class="text-white mb-4 font-semibold">Others</header>
                        <ul class="*:text-slate-400 *:text-lg *:mb-2">
                            <li>
                                <a href="pricing.html" class="p-1 pl-0">Pricing</a>
                            </li>
                            <li>
                                <a href="contact.html" class="p-1 pl-0">Contact</a>
                            </li>
                            <li>
                                <a href="articles.html" class="p-1 pl-0">Articles</a>
                            </li>
                        </ul>
                    </div>

                    <div class="">
                        <header class="text-white mb-4 font-semibold">Legal</header>
                        <ul class="*:text-slate-400 *:text-lg *:mb-2">
                            <li>
                                <a href="terms-of-service.html" class="p-1 pl-0">Terms &amp; Conditions</a>
                            </li>
                            <li>
                                <a href="privacy.html" class="p-1 pl-0">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-white pt-4">&copy; 2024 - iPOS by <a asp-area="" asp-controller="Home"
                asp-action="Privacy">Walure</a></div>
    </div>
</footer>