<header>
    <nav class="bg-white/80 backdrop-blur fixed w-full z-10 border-b">
        <div class="mx-auto max-w-7xl px-8 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">

                <div class="flex flex-shrink-0 items-center">
                    <a href="/index.html">
                        <img class="h-8 w-auto" src="/images/iPOS-Logo.svg" alt="iPOS Logo">
                    </a>
                </div>

                <div class="flex items-center justify-center sm:items-stretch sm:justify-start">

                    <div class="hidden sm:ml-6 sm:block">
                        <div class="flex space-x-4 *:px-3 *:py-2 *:text-base *:font-semibold *:text-slate-700">
                            <a href="#" class="hover:text-cyan-600 text-slate-800" aria-current="page">Features</a>
                            <a href="/pricing.html" class="hover:text-cyan-600">Pricing</a>
                            <a href="/contact.html" class="hover:text-cyan-600">Contact</a>
                        </div>
                    </div>

                </div>

                <div
                    class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    <button type="button" class="relative rounded-3xl bg-white px-4 py-2 text-slate-800 border border-slate-400 text-sm hover:text-white hover:bg-cyan-500">
                        Login
                    </button>
                </div>
            </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->

    </nav>
</header>