<div class="mx-auto max-w-7xl my-40 px-8">
    <div class="bg-cyan-600 rounded-3xl lg:p-12 p-8 pb-0 overflow-hidden">
        <div class="flex lg:flex-row flex-col">
            <div class="lg:basis-4/12 basis-full lg:mr-auto">
                <div class="relative text-white lg:text-left">
                    <h1 class="text-3xl font-medium tracking-tight">Get the iPOS mobile app</h1>
                    <p class="max-w-xl mt-4 text-lg">Unlock the full potential of your SME with iPOS Mobile. Sign up for a free trial today to get the experience in the palm of your hands.</p>

                    <div class="lg:mt-8 mt-5 flex space-x-6">
                        <a class="inline-flex justify-center" href="/register">
                            <img alt="" src="./images/Mobile-app-store-badge.svg" class="">
                        </a>

                        <a class="inline-flex justify-center" href="/register">
                            <img alt="" src="./images/Apple-store-badge.svg" class="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="lg:basis-6/12 basis-full relative">
                <div class="lg:absolute lg:top-0 bottom-0 relative">
                    <img alt="" src="./images/Desktop-mobile-view.svg" class="w-full lg:mt-0 mt-8">
                </div>
            </div>
        </div>
    </div>
 </div>